*{
    margin:0;
    padding:0;
}
html {
    height:100%;
    width:100%;
}
body{
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color:#333;
    font-size: 1.2rem;
    line-height: 1.6em;
}

#bio-jeff{
  background-color: #F1F1F1;
  padding-top: 4rem;
    padding-bottom: 4rem;
  display: flex;
    justify-content: center;
}


#bio-jeff h{
  font-size:1.3em;
  text-align: center;
  display: block;
}
#bio-jeff p{
  font-size:1.1rem;
  text-align: center;
  display: block; 
  
}
.text-bio{
  width: 70%;
  display:flex;
  flex-direction:column;
  
}

.info-jeff{
  list-style: none;
   width: 50%;
   background-color: #F1F1F1;
   padding: 0px 40px;
}

.info-jeff p1{
    display: flex;
    justify-content: center
}
.info-jeff p{
    
    font-size: 1rem;
}
.info-jeff li{
    margin-bottom: 0.5em;
}
.info-jeff h2{
    font-size: 1.5em;
    
}
.info-jeff h3 {
    font-size: 1.2rem;
    line-height: 0em;
}

.container{
    width:95%;
    margin:0 auto;
}

header{
    background: #FFFFFF no-repeat center center fixed;
    background-size: cover;
    padding: 1em 0 0.5em 0; 
    z-index: 1;
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
}
.main{
    padding-top: 5rem;
}
.box-icons{
  display: flex;
  align-items: center;
}
.icono{
  font-size:25px;
  color: #FFFFFF
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
.header a{
    color: #182153;
    text-decoration: none;
} 
.navigation ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.6em;
}
.navigation ul li a:hover{
    background-color: #009ADA;
}
.logo{
    letter-spacing: 1px;
    font-size: 1.3em;
}
.header-incio-fondo{
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}
.photo-info-box{
    width: 45%;
    display: flex;
    margin-top: 5rem;
}
.photo-info-position{
    align-items: flex-end;
    display: flex;
    justify-content: center;
    height: auto;
}
.photo{
    background-color: #ccc;
    width: 50%;
    
}
.photo img{
    width: 100%;
    height: auto;
    margin:auto;
    display: block;
    
}
.fondo-trans{
    background-color: #F1F1F1;
    opacity: 0.35;
    
}
.box-socials ul{
    margin:0;
    padding: 0;
    list-style: none;
    color:white;
    
}
.box-socials ul li{
    display: inline-block
}
.box-socials ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.6em;
    text-decoration: none;
}






#experence{
    width: 100%;
    height: 400px;
    background-color: #FFCD43;
}

.box-boxsociales{
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    
}
.box-socials{
    width: 45%;
    height: 60px;
    background-color: #182153;
    display: flex;
    justify-content:center;
    
}
.box-skills{
  background-color: #182153;
  color:white;
}
aside{
    width: 60%;
    height: 400px;
    background-color: #98C878;
}
.box-skills-trans{
  background-image: url("../img/techo-cristal.jpg");
 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.4;
  width: 100%;
  height: 400px;
}

footer{
    background-color: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem
}


.menu-icon{
    display: none
}

@media only screen and (max-width: 767px){
    .text-bio {
    width: 70%;
    }
    .box-socials {
    width: 80%;
    }
    .info-jeff{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-left: 0px;
    list-style: none;
    }
    .photo-info-box {
    width: 80%;
    height: auto;
    background-color: #F1F1F1;
    display: grid;
        
    }
    .photo {
    width: 100%;
    height: 250px;
    background-size:scroll;
    height: 100%
    }
    .menu-icon{
    display: block;
    cursor: pointer;
    padding:0.5rem 1rem;
    }
    .navigation ul{
    display: none
    }
    .navigation ul.show{
    display: block
    }
    .navigation{
    width: 100%;
    margin-top:1rem;
    }
    .navigation ul li{
    display: block
    }
    .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.6em;
    }
    .navigation ul li a:hover{
    background-color: #4a4a4a;
    }
    .logo{
    letter-spacing: 1px;
    font-size: 1.5em;
    }
    
}






*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-timeline {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #182153;
  overflow-x: hidden;
  
}  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #FFFFFF;
  padding: 0px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #FFFFFF;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background: #F8F8F8;;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 2px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #002E5D transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #002E5D;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #002E5D;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #002E5D transparent transparent;
  }
}



.boxs-skills-LR{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill{
  margin: 2rem;
  background: #46527A;
  color: white;
  padding: 13px;
}











